@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(115deg, rgba(74, 85, 73, 0.8), rgba(80, 100, 80, 0.7)),
    url(https://images.unsplash.com/photo-1576765974102-b756026ecee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1514&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 50%;
  background-color: rgba(46, 185, 245, 1);
  border-radius: 15px;
  margin: 30px auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
  color: white;
  font-size: 18px;
}

::placeholder {
  font-size: 0.9em;
}

header {
  text-align: center;
  color: white;
  padding-top: 50px;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
}

.header p {
  font-size: 20px;
}

.form-group {
  margin: 10px;
}

.kirim {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 2px;
}

.radio {
  text-align: center;
}

.radio label {
  margin: 0 20px;
}

.kipi label {
  margin-left: 10px;
}
/* !Responsif */

@media only screen and (max-width: 740px) {
  .container {
    max-width: 90%;
    padding: 10px;
  }

  header h1 {
    font-size: 2em;
  }

  header p#description {
    font-size: 0.9em;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  label {
    font-size: 1em;
  }

  ::placeholder {
    font-size: 0.9em;
  }
}
